
#wrapper{
   width: 850px;
   height: 660px;
  background-color: #cccc00;
  box-sizing: border-box;

}

#header{
 width: 700px;
 height: 80px;
 background-color: silver;
 border-color: gray;
 border-style: solid;
 display:inline-flex;
 vertical-align: middle;
 border:1px solid block;
 box-sizing: border-box;



}

 h1{
text-align: center;

}
#gitHead1{

  height: 65px;
  width: 65px;
  border: 2px solid green;

}

#gitHead2{

  height: 65px;
  width: 65px;
  border: 2px solid green;
}

.bottomPart{
  width: 700px;
  height: 550px;
  background-color: #cc9ee6;
  padding-top: 15px;



}
.boxes1Row{
  width: 560px;
  height: 90px;

  background-color: silver;
  margin: 20px;
  padding-top: 15px;

}

.boxes2Row{
  width: 560px;
  height: 90px;
  background-color: orange;
    margin: 20px;
    padding-top: 15px;

}

.boxes3Row{
  width: 560px;
  height: 90px;
  background-color: silver;
  margin: 20px;
  padding-top: 15px;
}

.boxes4Row{
  width: 560px;
  height: 90px;
  background-color: grey;
  margin: 20px;
  padding-top: 15px;
}

.boxes5Row{
  width: 560px;
  height: 90px;
  background-color: white;
  margin: 20px;
  padding-top: 15px;
}

.box1 {
  border: 5px solid green;
  background-image: url("./catandninjacopy.png");
  width: 70px;
  height:70px;
  float: right;
}
.box2 {
  border: 5px solid green;
  background-image: url("./dojocat.png");
  width: 70px;
  height:70px;
  float: right;
}

.box3 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;
}

.box4 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;
}

.box5 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}


.box6 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}.box7  {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box8 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box9 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box10 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box11 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box12 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box13 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box14 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box15 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box16 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box17 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box18 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box19 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}

.box20 {
  border: 5px solid green;
  background-image: url("./catandninja.png");
  width: 70px;
  height:70px;
  float: right;

}
